{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="starter-template">
    <div class="row">
      <div class="col-lg-6">
        <p><strong>My name:</strong> {{ username }}</p>
        <p><strong>My interests:</strong> {{ interests }}</p>
        <p>
          <p>
            <h3><strong><center>The articles of the day</center></strong></h3>
            <p>
              {% for articleDay in userArticles %}
              <h5>{{ articleDay.title|e }}</h5>
              <p>{{ articleDay.summary|e }}</p>
              {% endfor %}
      </div>
      <div class="col-lg-6">
        <p><center><strong>Le nuage de mots du jour</strong></center></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
