{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="starter-template">
    <div class="row">
      <div class="col-lg-6">
        <p><strong>My name:</strong> {{ username }}</p>
        <p><strong>My interests:</strong> {% for interest in interests %}<a href="/article?keywords={{ interest }}" style="color: rgb(37,48,64)">{{ interest }}</a>{% if interest != interests[-1] %}, {% endif %}{% endfor %}.</p>
            <h3 style="color: rgb(37,48,64)"><strong><center>The articles of the day</center></strong></h3>
            <p>
              {% for articleDay in userArticles %}
              <h5>{{ articleDay.title|e }}</h5>
              <p>{{ articleDay.summary|e }}</p>
              <p>See full text <a href="">here</a>...</p> <!-- USE JAVASCRIPT TO DISPLAY FULL TEXT -->
              {% endfor %}
      </div>

      <div class="col-lg-6">
        <h3><center><strong>Word cloud of the day</strong></center><h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
 <!-- PRINT FAVORITE ARTICLES -->
