{% extends 'base.html' %}

{% block content %}

{% for article in articleList %}
<div class="container">
  <div class="row">
    <div class="col-lg-12" >
      <h1>{{ article.title|e }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p><strong>Search : </strong>{{ searchedKeywords }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p><strong>Source website: </strong><a href="{{ article.site_name }}"><span style="color: rgb(37,48,64)">{{ article.site_name }}</span></a></p>
    </div>
  </div>
  {% if sources != [] %}
  <div class="row">
    <div class="col-lg-12">
      <p><strong>Article url: </strong><a href="{{ article.source_url }}"><span style="color: rgb(37,48,64)">{{ article.source_url }}</span></a></p>
    </div>
  </div>
  {% endif %}
  <!-- <div class="row">
    <div class="col-lg-12">
      <p><em>{{ authors }}</em></p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-8">
      <p>   {{ article.text|e }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      {% if article.nbVotes > 0 %}
      <p><strong> This article is rated {{ article.note }}/5 by users. </strong></p>
      {% else %}
      <p><strong> This article is not yet rated by users. </strong></p>
      {% endif %}
      <form id="form-rate" idA="{{ article.idarticle }}">
        <label for="note" class="col-lg-6 control-label">Let us know your preferences ! Rate this article</label>
        <div class="col-lg-1">
          <select required id="note" class=form-control style="width: auto">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option selected value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <div class="col-lg-2">
          <div class="button">
            <button class="form-control" >Rate !</button>
             <!--ajouter attribue onclick="nomFctJS(article.id)" nomFctJS devra utiliser une autre fct pour recup valeur de select en jquery
          ("note").val() faire JSON AJAX ou bien document.getElementById("note") get.JSON{nomderoute, {...}}-->
          </div>

        </div>
      </form>
      <script>
        var formRate = document.getElementById('form-rate');
        var button = formRate.getElementsByTagName('input')[0];
        button.onClick = function() {
            alert("test");
            var note = document.getElementById('note').value;
            var idA = formRate.getAttribute('idA');
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", '/rateArticle?note='+note+'&idA='+idA, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }
      </script>
    </div>
  </div>
  <hr color="blue">
</div>


{% endfor %}

{% endblock %}
