{% extends 'base.html' %}

{% block content %}

{% for article in articleList %}
<div class="container">
  <div class="row">
    <div class="col-lg-12" >
      <h1>{{ article.title|e }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>Search : {{ searchedKeywords }}</p>
      <h3>{{ article.keywords|e }}</h3>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <p><em>{{ authors }}</em></p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-8">
      <p>   {{ article.text|e }}</p>
    </div>
  </div>
  <hr color="blue">
</div>

{% endfor %}

{% endblock %}
