{% extends 'base.html' %}

{% block content %}

{% for nb in numberOfArticles %}
<div class="container">
  <div class="row">
    <div class="col-lg-12" >
      <h1>{{ articleList[nb].title|e }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p><strong>Search : </strong>{{ searchedKeywords }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p><strong>Source website: </strong><a href="{{ articleList[nb].site_name }}"><span style="color: rgb(37,48,64)">{{ articleList[nb].site_name }}</span></a></p>
    </div>
  </div>
  {% if sources != [] %}
  <div class="row">
    <div class="col-lg-12">
      <p><strong>Article url: </strong><a href="{{ articleList[nb].source_url }}"><span style="color: rgb(37,48,64)">{{ articleList[nb].source_url }}</span></a></p>
    </div>
  </div>
  {% endif %}
  <!-- <div class="row">
    <div class="col-lg-12">
      <p><em>{{ authors }}</em></p>
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-8">
      <p>   {{ articleList[nb].text|e }}</p>
    </div>
  </div>

  {% if articleList[nb].nbVotes > 0 %}
    <p> This article is rated {{ articleList[nb].note }}/5 by users. </p>
    {% else %}
    <p> This article is not yet rated by users. </p>
  {% endif %}

  <form id={{ "form-rate"+nb|string }}>
    Let us know your preferences ! Rate this article
    <select required id="note">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option selected value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select> stars.
    <input id="button" type="button" value="Rate !" data-urla="{{ articleList[nb].source_url }}">
  </form>

      <div class="row" id="flash-messages">
        <div class="col-lg-12">
          <p><span style="font-size: 12px"></span></p>
        </div>
      </div>

  <hr color="blue">
</div>

{% endfor %}

<script type="text/javascript" src="{{ url_for('static', filename='js/ratings.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>ratingsA({{ numberOfArticles|length -1 }});</script>

{% endblock %}
