{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="starter-template">
    <form class="form-horizontal col-lg-12" action="/register-signup" method="POST">
      <div class="form-group">
        <div class="row">
          <div class="col-lg-push-4 col-lg-4">
            <div class="authentification-form">
              <input type="username" class="form-control" name="username" placeholder="Username">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-push-4 col-lg-4">
            <div class="authentification-form">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-push-4 col-lg-4">
            <div class="authentification-form">
              <input type="textarea" class="form-control" name="interests" placeholder="Interests">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-push-4 col-lg-4">
            <div class="authentification-form">
              <input type="submit" class="form-control" value="Sign up">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
